# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
*.Rproj

# knitr and R markdown default cache directories
/analysis/cache/
/analysis/figures/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user

#all products, because too big
product/maps/*.csv
product/maps/*.Rdata
product/species_rasters/*.tif
product/species_plots/*.png

#all raw data, because really too big
data/raw_data/byTraits/*.csv
data/raw_data/byDataset/*.csv

#some derived data
data/derived_data/all2Data.csv
data/derived_data/allDatasets.csv
data/derived_data/nsp*.*
data/derived_data/sp2use.csv
data/derived_data/specieslist1.csv
data/derived_data/specieslist2.csv
data/derived_data/specieslist3.csv
data/derived_data/specieslist4.csv
data/derived_data/specieslist5.csv
data/derived_data/specieslist6.csv
data/derived_data/specieslist7.csv
data/derived_data/specieslist8.csv
data/derived_data/splst.csv
data/derived_data/regionsOfInterest.png



